* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

p {
	font-family: 'Quicksand', sans-serif;
}

main {
	min-height: 85vh;
}

.profileBox {
	background-color: #8592bb;
}

.card {
	background-color: #dfe3ee;
}

.navbar {
	background-color: #0c2577;
}

.footer {
	background-color: #0c2577;
}

.jumbotron {
	background-color: #dfe3ee;
}

.figure-img {
	width: 250px;
}